body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  display: flex;
  justify-content: center; /* aligns horizontally */
  align-items: center; /* aligns vertically */
  height: 100vh; /* adjusts the height of the container */
}

.input-container {
  text-align: center; /* aligns the input element in the center */
}
.square{
  display: flex;
  justify-content: center;
}